<%- include("include/header.ejs") %>
    <section class="user-dashboard page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <%- include("include/topnav.ejs") %>
                        <div class="dashboard-wrapper user-dashboard">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Mobile</th>
                                            <th>Address</th>
                                            <th>State</th>
                                            <th class="col-md-2 col-sm-3">City</th>
                                            <th>Pincode</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% result.forEach((item, i)=>{ %>
                                            <tr>
                                                <td>
                                                    <%= ++i %>
                                                </td>
                                                <td>
                                                    <%= item.name %>
                                                </td>
                                                <td>
                                                    <%= item.mobile %>
                                                </td>
                                                <td>
                                                    <%= item.address %>
                                                </td>
                                                <td>
                                                    <%= item.state %>
                                                </td>
                                                <td>
                                                    <%= item.city %>
                                                </td>
                                                <td>
                                                    <%= item.pin %>
                                                </td>
                                                <td>
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn btn-default"><i
                                                                class="tf-pencil2" aria-hidden="true"></i></button>
                                                        <button type="button" class="btn btn-default"><i
                                                                class="tf-ion-close" aria-hidden="true"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("include/footer.ejs") %>