<%- include("include/header.ejs") %>
    <style>
        .tf-ion-ios-cart-outline {
            font-size: 50px;
        }
    </style>

    <div class="page-wrapper">
        <div class="cart shopping">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="block">
                            <div class="product-list">
                                <% if(result.length>0){ %>
                                    <form method="post">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="">Item Name</th>
                                                    <th class="">Item_Price</th>
                                                    <th>Color</th>
                                                    <th>Quantity</th>
                                                    <th class="">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% result.forEach((item)=>{ %>
                                                    <tr class="">
                                                        <td class="">
                                                            <div class="product-info">
                                                                <img width="80" src="/img/<%= item.product_img %> "
                                                                    alt="" />
                                                                <a href="#!">
                                                                    <%= item.product_name %>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td class="">
                                                            <p style="display: contents;">₹</p>
                                                            <%= item.price %>
                                                        </td>
                                                        <td style="font-size: 18px;">
                                                            <%= item.color %>
                                                        </td>
                                                        <td class="text-center">
                                                            <%= item.qty %>
                                                        </td>
                                                        <td class="btn-group"
                                                            style="width: max-content; padding-top: 30px;">
                                                            <a href="/deleteOneItem/<%= item.product_id %>"
                                                                class="btn btn-danger">-</a>
                                                            <a href="/deleteCart/<%= item.id %>" class="btn">Remove</a>
                                                            <a href="/addOneItem/<%= item.product_id %>"
                                                                class="btn btn-success">+</a>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                        <a href="/checkout" class="btn btn-main pull-right">Checkout</a>
                                    </form>
                                    <% }else{ %>
                                        <div class="col-md-6 col-md-offset-3">
                                            <div class="block text-center">
                                                <i class="tf-ion-ios-cart-outline"></i>
                                                <h2 class="text-center">Your cart is currently empty.</h2>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore,
                                                    sed.</p>
                                                <a href="/" class="btn btn-main mt-20">Return to shop</a>
                                            </div>
                                        </div>
                                        <% } %>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <%- include("include/footer.ejs") %>