<%- include("include/header.ejs") %>
	<style>
		.single-product-slider .carousel .carousel-indicators li img {
			height: auto;
			width: 110px;
		}

		.product-description {
			text-align: justify !important;
		}

		.size_data {
			display: none !important;
		}
	</style>
	<section class="single-product">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<ol class="breadcrumb">
						<li><a href="/">Home</a></li>
						<li class="active">Product Details</li>
					</ol>
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-md-5">
					<div class="single-product-slider">
						<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
							<div class='carousel-outer'>
								<!-- me art lab slider -->
								<div class='carousel-inner '>
									<div class='item active'>
										<img src='/img/<%= result.img1 %>' alt=''
											data-zoom-image="/img/<%= result.img1 %>" />
									</div>
									<div class='item'>
										<img src='/img/<%= result.img2 %>' alt=''
											data-zoom-image="/img/<%= result.img2 %>" />
									</div>

									<div class='item'>
										<img src='/img/<%= result.img3 %>' alt=''
											data-zoom-image="/img/<%= result.img3 %>" />
									</div>
									<div class='item'>
										<img src='/img/<%= result.img4 %>' alt=''
											data-zoom-image="/img/<%= result.img4 %>" />
									</div>
								</div>

								<!-- sag sol -->
								<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
									<i class="tf-ion-ios-arrow-left"></i>
								</a>
								<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
									<i class="tf-ion-ios-arrow-right"></i>
								</a>
							</div>

							<!-- thumb -->
							<ol class='carousel-indicators mCustomScrollbar meartlab'>
								<li data-target='#carousel-custom' data-slide-to='0' class='active'>
									<img src='/img/<%= result.img1 %>' alt='' />
								</li>
								<li data-target='#carousel-custom' data-slide-to='1'>
									<img src='/img/<%= result.img2 %>' alt='' />
								</li>
								<li data-target='#carousel-custom' data-slide-to='2'>
									<img src='/img/<%= result.img3 %>' alt='' />
								</li>
								<li data-target='#carousel-custom' data-slide-to='3'>
									<img src='/img/<%= result.img4 %>' alt='' />
								</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<form action="/addToCart" method="post">
						<div class="single-product-details">
							<h2>
								<%= result.product_name %>
							</h2>
							<p class="product-price">₹<%= result.mrp %>
							</p>

							<p class="product-description mt-20">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
								irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
								pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
								deserunt mollit anim id est laborum. Sed ut per spici</p>
							</p>
							<div class="color-swatches">
								<span>color:</span>
								<ul>
									<% if(colors.color1!='' ){ %>
										<li>
											<a href="#!!" onclick="getColor('<%= colors.color1 %>')"
												style="border: 1px solid black; background-color: <%= colors.color1 %>"></a>
										</li>
										<% } if(colors.color2!='' ){ %>
											<li>
												<a href="#!!" onclick="getColor('<%= colors.color2 %>')"
													style="border: 1px solid black; background-color: <%= colors.color2 %>"></a>
											</li>
											<% } if(colors.color3!='' ){ %>
												<li>
													<a href="#!!" onclick="getColor('<%= colors.color3 %>')"
														style="border: 1px solid black; background-color: <%= colors.color3 %>"></a>
												</li>
												<% } if(colors.color4!='' ){ %>
													<li>
														<a href="#!!" onclick="getColor('<%= colors.color4 %>')"
															style="border: 1px solid black; background-color: <%= colors.color4%>"></a>
													</li>
													<% } if(colors.color5!='' ){ %>
														<li>
															<a href="#!!" onclick="getColor('<%= colors.color5 %>')"
																style="border: 1px solid black; background-color: <%= colors.color5%>"></a>
														</li>
														<% } %>
								</ul>
							</div>
							<div class="product-quantity">
								<div class="product-quantity-slider">
									<input type="hidden" name="color" id="color">
									<input type="hidden" name="pro_id" value="<%= result.id %>">
									<input type="hidden" name="price" value="<%= result.mrp %>">
									<input type="hidden" name="name" value="<%= result.product_name %>">
									<input type="hidden" name="image" value="<%= result.img1 %>">
								</div>
							</div>
							<div class="product-category">
								<span>Brand & manufacture:</span>
								<ul>
									<li>
										<%= result.brand %> & <%= result.manufacture %>
									</li>
								</ul>
							</div>
							<div class="product-category">
								<span>Categories:</span>
								<ul>
									<li><a href="">
											<%= result.cat %>
										</a></li>
								</ul>
							</div>
							<button onclick="return beforeAddToCart()" class="btn btn-main mt-20">Add To Cart</button>
						</div>

					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="tabCommon mt-20">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a>
							</li>
							<li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">Reviews (<%= reviews.length %> )</a></li>
						</ul>
						<div class="tab-content patternbg">
							<div id="details" class="tab-pane fade active in">
								<h4>Product Description</h4>
								<p>
									<%= result.description %>
								</p>
							</div>
							<div id="reviews" class="tab-pane fade">
								<div class="post-comments">
									<ul class="media-list comments-list m-bot-50 clearlist">
										
										<%
											if(reviews.length>1){
											reviews.forEach((review)=>{ %>  
										<li class="media">
											<a class="pull-left" href="#!">
												<img class="media-object comment-avatar" src="https://thumbs.dreamstime.com/b/review-meeting-concept-little-man-showing-playcard-white-49949784.jpg"
													alt="" width="50" height="50" />
											</a>
											<div class="media-body">
												<div class="comment-info">
													<h4 class="comment-author">
														<a href="#!"><%= review.name %> </a>
													</h4>
													<time datetime="2013-04-06T13:53"><%= review.date %> </time>
												</div>
												<p style="margin-bottom: 0px;">
													<%= review.review %> 
												</p>
											</div><hr />
										</li>
										<% }) } else{ %>
											<div class="alert alert-danger">
												<strong>NO COMMENTS FOUND</strong>	
											</div>
											<% } %>
									
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="products related-products section">
		<div class="container">
			<div class="row">
				<div class="title text-center">
					<h2>Related Products</h2>
				</div>
			</div>
			<%= related.size %>
			<div class="row">
				<% //related.forEach(()=>{ %>
					<div class="col-md-3">
						<div class="product-item">
							<div class="product-thumb">
								<span class="bage">Sale</span>
								<img class="img-responsive" src="images/shop/products/product-5.jpg"
									alt="product-img" />
								<div class="preview-meta">
									<ul>
										<li>
											<span data-toggle="modal" data-target="#product-modal">
												<i class="tf-ion-ios-search"></i>
											</span>
										</li>
										<li>
											<a href="#"><i class="tf-ion-ios-heart"></i></a>
										</li>
										<li>
											<a href="#!"><i class="tf-ion-android-cart"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<h4><a href="product-single.html">Reef Boardsport</a></h4>
								<p class="price">$ <% related.mrp %>
								</p>
							</div>
						</div>
					</div>
					<% //} %>
			</div>
		</div>
	</section>
	<script>
		function getColor(e) {
			document.getElementById("color").value = e;
		}
		function beforeAddToCart() {
			let color = document.getElementById("color").value;
			if (color != '') {
				return true
			}
			alert("Please Select Color")
			return false
		}
	</script>
	<script src="/script.js"></script>

	<%- include("include/footer.ejs") %>