<%- include("include/header.ejs") %>
	<section class="products section">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="widget product-category">
						<h4 class="widget-title">Filters</h4>
						<div class="panel-group commonAccordion" id="accordion" role="tablist"
							aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion"
											href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Categories
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
									aria-labelledby="headingOne">
									<div class="panel-body">
										<ul>
											<li><a href="/category?cat=Girls">Girls</a></li>
											<li><a href="/category?cat=Childrens">Childrens</a></li>
											<li><a href="/category?cat=Mens">Mens</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse"
											data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
											aria-controls="collapseTwo">
											Price
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
									aria-labelledby="headingTwo">
									<div class="panel-body">
										<ul>
											<li><a href="/category?cat=?price=desc">High to Low</a></li>
											<li><a href="?price=asc">Low to High</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingThree">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse"
											data-parent="#accordion" href="#collapseThree" aria-expanded="false"
											aria-controls="collapseThree">
											WorkOut Shoes
										</a>
									</h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
									aria-labelledby="headingThree">
									<div class="panel-body">
										<ul>
											<li><a href="#!">Brand & Twist</a></li>
											<li><a href="#!">Shoe Color</a></li>
											<li><a href="#!">Gladian Shoes</a></li>
											<li><a href="#!">Swis Shoes</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="col-md-9">
					<div class="row">

						<% if(result.length>0){
							result.forEach((item)=>{
							%>
							<div class="col-md-4">
								<div class="product-item">
									<div class="product-thumb">
										<span class="bage">Sale</span>
										<img class="img-responsive" src="/img/<%= item.img1 %>" alt="product-img" />
										<div class="preview-meta">
											<ul>
												<li>
													<a href="/details/<%= item.id %>"><i class="tf-ion-ios-eye"></i></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="product-content">
										<h4><a href="/details/<%= item.id %>">
												<%= item.product_name %>
											</a></h4>
										<p class="price">₹ <%= item.mrp %>
										</p>
									</div>
								</div>
							</div>
							<% }) } else{ %>
								<div class="alert alert-danger">
									<strong>Not Data Found</strong>
								</div>
								<% } %>

									</d>
					</div>

				</div>
			</div>
	</section>

	<%- include("include/footer") %>